/* DARK THEME TCSS */ 

$primary: #a722fd;
$secondary: #bc7dfb;

$primary-background: #222024;
$secondary-background: #2a272d;

$background: #222024;

$error: #d81b57;
$success: #b3d81b;


/*
$panel: ;

$warning: ;
$error: ;
$success: ;

$accent: ;
*/